{
  "HttpServer": {
    "Endpoints": {
      "Http": {
        "Host": "localhost",
        "Port": 5000,
        "Scheme": "http"
      },
      "Https": {
        "Host": "localhost",
        "Port": 5001,
        "Scheme": "https",
        "FilePath": "PATH",
        "Password": "PASS"
      }
    }
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
