@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="form-inline navbar-form pull-right">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li class="nav-item">
              <button type="submit" class="btn btn-link nav-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
