body {
    /*54px for navbar + 15 padding*/
    padding-top: 69px;
    padding-bottom: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel {
  margin-bottom: 15px;
}
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* navigation */
@media (max-width: 33.9em) {
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
}
