<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApplicationBasic</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-file-version="true" />
        </environment>
    </head>
    <body>
        <header class="navbar navbar-dark navbar-fixed-top bg-inverse" role="banner">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand hidden-sm-up">WebApplicationBasic</a>
                <button class="navbar-toggler pull-right hidden-sm-up" type="button" data-toggle="collapse" data-target=".collapse"><span class="sr-only">Toggle navigation </span>☰</button>
            </div>
            <div class="collapse navbar-toggleable-xs">
                <div class="container">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                              <a asp-controller="Home" asp-action="Index" class="navbar-brand hidden-xs-down">WebApplicationBasic</a>
                            </li>
                            <li class="nav-item">
                              <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                              <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                              <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </nav>
              </div>
            </div>
        </header>
        <div class="container body-content">
            @RenderBody()
            <footer>
                <hr />
                <p>© @DateTime.Now.Year - WebApplicationBasic</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-file-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
